.ReactCollapse--collapse{
    transition: height 500ms;
}

.cardContainer{
    width: 85%;
    background: #f7f7f7;
    margin: auto;
    margin-left: 0px;
    border-radius: 15px;
    box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
    margin-top: 20px;
}

.cardTitle{
    width: 90%;
    padding: 5px;
    margin: auto;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.downImg{
    height: 15px;
}

.cardImg{
    height: 30px;
}

.cardHeader{
    font-size: 1.3em;
    color: #333333;
}

.mainContainerInner{
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.cardContent{
    padding: 15px;
}

.listName{
    color: #333333;
    font-size: 1.1em;
}

.listItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
}

.aboutMeText {
    color: #333333;
    line-height: 2;
}

.contactName{
    color: #333333;
    font-size: 1em;
}

.chronologyItem {
    border-left: 1px solid #e2aa42;
    padding: 5px;
    margin-bottom: 10px;
    color: #333333;
    padding-left: 15px;
    line-height: 2;
}

.chronologyTitle{
    font-weight: bold;
    font-size: 1.1em;
}

.chronologyYear{
    color: #e2aa42;
    font-size: 0.8em;
}

.chronologyName{
    font-size: 0.8em;
}

.imageFS {
    position: absolute;
    top: 5px;
    left: 5px;
}

.readCard{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tickImg{
    width: 6%;
    margin: 10px;
    margin-top: 20px;
}