.footerContainer {
    height: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: #323232ed;
    font-size: 0.7em;
    color: white;
    font-family: -webkit-pictograph;
    border-radius: 10px 10px 0px 0px;
}

.social{
    height: 45%;
    margin: auto 10px auto 10px;
    opacity: 0.7;
}

.socialContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80%;
}

.presentationContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 80%;
    border-right: 1px solid #a6a6a62e;
}

.languaje{
    height: 45%;
    margin: auto 10px auto 10px;
    opacity: 0.7;
}