.mainContainer {
    height: 92%;
    position: relative;
    background: rgb(237, 237, 237);
    width: 100%;
    overflow: hidden;
}

.mainPortada{
    width: 100%;
    margin: auto;
    height: 30%;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("../Assets/portada.png"); 
    background-size: contain;
    z-index: 99;
}

.mainProfile{
    border-radius: 50%;
    height: 115px;
    width: 115px;
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 0px 6px;
}

.mainInfoName{
    color: white;
    font-size: 1.3em;
    font-weight: bold;
}

.mainInfoPos{
    display: flex;
    color: white;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.mainInfoContainer{
    border-right: 2px #f8f8f88f solid;
    padding-right: 10px;

}